
body {
    font-family: "droid sans";
    font-size: 12pt;
}


div#content {
    width: 700px;
    margin: 100pt auto;
}

img.screenshot {
    margin: 20pt;
    padding: 3pt;
    border: 6px solid #eeeeee;

}

div#desc-head {
    font-size: 16pt;
    text-align: center;
}

ul#navlist li {
    display: inline;
    padding-right: 1em;
}
