
body {
    font-family: "droid sans";
    font-size: 12pt;
}


div#content {
    width: 700px;
    margin: 100pt auto;
}

img.screenshot {
    margin: 20pt;
    padding: 3pt;
    border: 6px solid #eeeeee;

}

div#desc-head {
    font-size: 16pt;
    text-align: center;
}

div#navlist {
    margin-top: 1em;
}

div#navlist ul {
    background-color: #f0f0f0;
    border-radius: 10px;
    border-bottom: 1px #e0e0e0 solid;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    font-size: 13pt;
    margin-bottom: -1em;
    text-shadow: 1px 1px #fff;
}

ul#navlist li {
    display: inline;
    padding-right: 1.7em;
}


div.section-head {
    height: 1px;
    background-color: #eee;
    text-align: center;
    margin: 4em 0em 2em 0em;
}

span.section-head {
    background-color: white;
    position: relative;
    top: -0.7em;
    font-size: 20pt;
    padding: 0em 1em;
}
